*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/2e07bc25-8b8f-4531-8e1f-7e5e33938793/e4b3c14a-684b-4fc4-b14f-2b486a4e9f4e/IN-en-20240219-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    position: relative;
}

.box{
height: 100vh;
width: 100%;
opacity: 0.55;
background-color: black;
position: absolute;
top: 0;
display: flex;
justify-content: center;
align-items: center;
}

.nav{
    height: 50px;
margin-right: 160px;
margin-left: 160px;
display: flex;
align-items: center;
justify-content: space-between;
}

button{
    margin-right: 13px;
}
.btn1{
    color: white;
    background: transparent;
    padding: 3px 5px 3px 5px;
    font-size: large;
    border: 2px solid white;
    border-radius: 7px;
}

.btn2{
    color: white;
    background-color: red;
    padding: 8px 12px 8px 12px;
    font-size: 17px;
    border-radius: 6px;
    border: none;
}

img{
    margin-top: 40px;
    position: relative;
    z-index: 10;
}

button{
    margin-top: 40px;
    position: relative;
    z-index: 10;
}

.sec h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 43px;
position: relative;
    z-index: 10
}

.sec p{
    color: white;
    font-size: 24px;
    padding-left: 300px;
}

#p2{
    padding-left: 180px;
}

.sec #email{
    color: black;
    margin-left: 215px;
    margin-top: 20px;
    padding-right: 210px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 6px;
    background: transparent;
    border: 1.3px solid gainsboro;
    font-size: 16px;
    color: rgb(87, 87, 87);
}

.sec button{
    padding-right: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 50px;
    margin-left: 5px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    background-color: red;
    color: white;
}

.sec{
    margin-top: 220px;
    position: relative;
    z-index: 10;
margin-right: 230px;
margin-left: 230px;
}